
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--clr-Moderate-violet: hsl(263, 55%, 52%);
--Very-dark-grayish-blue: hsl(217, 19%, 35%);
--clr-Very-dark-blackish-blue: hsl(219, 29%, 14%);
--clr-White: hsl(0, 0%, 100%);
--clr-Light-gray: hsl(0, 0%, 81%);
--Light-grayish-blue: hsl(210, 46%, 95%);
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--Light-grayish-blue);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 4.5rem;
}
.dcon{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.img{
    position: relative;
    top: 4px;
    left: 5px;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 15px;
}

.h1,.h2,.h3,.h4,.h5{
    font-size: smaller;
    
}
.h1,.h2,.h4{
    color: var(--clr-White);
}
.h3,.h5{
    color: var(--Very-dark-grayish-blue);
}


.d1,.d2,.d3,.d4,.d5{
    font-size: smaller;
}
.d1,.d2,.d4{
    color: var(--clr-White);
    opacity: 50%;
}
.d3,.d5{
    color: var(--clr-Very-dark-blackish-blue);
    opacity: 50%;
}
.pd1{
    width: 16rem;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
    margin: 1rem;
}

.q1,.q2,.q3,.q4,.q5{
    font-size: medium;
    margin: 1rem;
}

.q1,.q2,.q4{
    color: var(--clr-White);
}
.q3,.q5{
    color: var(--clr-Very-dark-blackish-blue);
}



.para1,.para2,.para3,.para4,.para5{
    font-size: x-small;
    line-height: 1rem;
    margin: 1rem;
    
}
.para1,.para2,.para4{
    color: var(--clr-White);
    opacity: 70%;
}
.para3,.para5{
    color: var(--clr-Very-dark-blackish-blue);
    opacity: 70%;
}
.para5{
    padding: 2px;
}

.mainbox{
    display: inline-grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    width: 60rem;
    height: 30rem;
}
.box1{
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 18rem top ;
    background-color: var(--clr-Moderate-violet);
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px none;
    border-radius: 6px;
    height: 16rem;
    width:30rem ;
}

.box2{
    background-color: var(--Very-dark-grayish-blue);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 2px none;
    border-radius: 6px;
    width: 13rem;

}

.box3{
    background-color: var(--clr-White);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 2px none;
    border-radius: 6px;
    width: 12rem;
}

.box5{
    background-color: var(--clr-White);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 2px none;
    border-radius: 6px;
    width: 12rem;
    position: relative;
    right: 1.5rem;
    
}

.box4{
    background-color: var(--clr-Very-dark-blackish-blue);
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 2px none;
    border-radius: 6px;
    width: 31rem;
    position: relative;
    right: 2rem;
}

